.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }

  .custom-btn {
    font-size: 11px;
    margin-top: 0.5rem;
  }

  .empty-msg{
    font-size: 18px;
    font-weight: 600;
    margin: auto;
  }

  & ::-webkit-scrollbar {
    width: 12px;
  }
}
